@media(max-width: 937px) {
    .header__nav-description {
        font-size: 18px;
        line-height: 20px;
        padding: 13px 12px;
    }
    .container {
        max-width: 937px;
        width: 100%;
    }
    .main__content {
        max-width: 900px;  
        width: 100%;
    }
    .main__content-left{
        max-width: 550px;
        width: 100%;
    }
    .main__content-right{
        max-width: 550px;
        width: 100%;
    }
}
@media(max-width: 916px) {
    .header__nav-description {
        font-size: 18px;
        line-height: 20px;
        padding: 13px 12px;
    }
    .container {
        max-width: 916px;
        width: 100%;
    }
    .maps {
        max-width: 900px;
        width: 100%;
    }
    .main__content-left{
        max-width: 460px;
        width: 100%;
        padding-left: 10px;
    }
    .main__content-right{
        max-width: 460px;
        width: 100%;        
    }
}
@media(max-width: 876px) {
    .container {
        max-width: 876px;
        width: 100%;
    }
    .header__nav {
        max-width: 876px;
        width: 100%;
    }
    .header_about {
        max-width: 876px;
        width: 100%;
    }
    .header__nav-content {
        max-width: 876px;
        width: 100%;
        padding-top: 5px;
    }
    .preabout {
        max-width: 560px;
        width: 100%;
    }
    .header__logo {
        padding-bottom: 0;
        max-width: 200px;
    } 
    .main__content-title {
        font-size: 23px;
        line-height: 13px;
        padding: 7px 9px;
    }
    .maps {
        max-width: 865px;
        width: 100%;
    }
    .advion_photo1{
        max-width: 380px;
        width: 100%;
    }
    .our_contact, .number {
        font-size: 18px;
        line-height: 24px;
    }   
    .main__about-contact {
        max-width: 830px;
        width: 100%;
    } 
    .ordernow {
        padding-bottom: 7px;
        max-width: 770px;
        width: 100%;
    }
    .Payme_link {
        font-size: 18px;
        line-height: 24px;
    }
    .header__nav-description {
        font-size: 16px;
        line-height: 17px;
        padding: 13px 9px;
    }
    .main__content-about-gel {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 17px;
    }
    .price-today {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 4px;
    }    
    .advion__photo {
        max-width: 400px;
        width: 100%;
    }
    .advion__photo1 {
        max-width: 400px;
        width: 100%;
    }
    .about__title1 {
        font-size: 28px;
        line-height: 34px;
        padding-top: 0px;
        padding-bottom: 13px;
        padding-left: 10px; 
    }
    .about__title2 {
        font-size: 28px;
        line-height: 34px;
        padding-top: 0px;
        padding-bottom: 13px;
        padding-left: 10px; 
    }
    .about__description {
        font-size: 15px;
        line-height: 24px;
        padding-top: 7px; 
        padding-left: 10px;       
    }
    .main__content-about {
        font-size: 17px;
        line-height: 19px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .main__content-description {
        font-size: 14px;
        line-height: 19px;
    }
    .premush {
        font-size: 14px;
        line-height: 19px;
    }
    .img1 {
        max-width: 680px;
        width: 100%;
        padding-left: 10px;
    }
}
@media(max-width:800px) {
    .container {
        max-width: 800px;
        width: 100%;
    }
    .home-page {
        max-width: 250px;
        width: 100%;
    }
    .maps {
        max-width: 780px;
        width: 100%;
        margin: 0 auto;
    }
    .advion_photo1{
        max-width: 380px;
        width: 100%;
    }
    .our_contact {
        font-size: 18px;
        line-height: 24px;
        padding-left: 4px;
    }
    .number {
        font-size: 18px;
        line-height: 24px;
    }
    .Payme_link {
        font-size: 18px;
        line-height: 24px;
    }
    .header__nav-description {
        font-size: 16px;
        line-height: 17px;
        padding: 13px 9px;
    }
    .main__content-about-gel {
        font-size: 23px;
        line-height: 36px;
        padding-bottom: 10px;
    }
    .price-today {
        font-size: 22px;
        line-height: 23px;
        padding-bottom: 0;
    }    
    .advion__photo {
        max-width: 400px;
        width: 100%;
    }
    .advion__photo1 {
        max-width: 400px;
        width: 100%;
    }
    .about__title1 {
        font-size: 28px;
        line-height: 34px;
        padding-top: 0px;
        padding-bottom: 13px;
        padding-left: 10px; 
    }
    .about__title2 {
        font-size: 28px;
        line-height: 34px;
        padding-top: 0px;
        padding-bottom: 13px;
        padding-left: 10px; 
    }
    .about__description {
        font-size: 15px;
        line-height: 24px;
        padding-top: 7px; 
        padding-left: 10px;       
    }      
    .img1 {
        max-width: 390px;
        width: 100%;
        padding-left: 5px;
    }
    .main__about {
        padding-top: 12px;
        padding-bottom: 10px;
        max-width: 800px;
        width: 100%;
    }
    .main__content-title {
        font-size: 20px;
        line-height: 7px;
        padding: 1px 8px;
    }
    .main__content-right{
        max-width: 385px;
        width: 100%;
    }
    .main__content-left{
        max-width: 385px;
        width: 100%;
    }
    .main__content-about {
        font-size: 17px;
        line-height: 19px;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 4px;
    }
    .main__content-description {
        font-size: 14px;
        line-height: 19px;
        padding-left: 4px;
    }
    .premush {
        font-size: 14px;
        line-height: 19px;        
    }
}
@media(max-width:764px) {
    .container {
        max-width: 764px;
        width: 100%;
    }
    .header__logo {
        max-width: 237px;
    }
    .header__nav-list {
        display: flex;
        flex-direction: column;        
        align-items: flex-start;
    }
    .header__nav-content {
        max-width: 700px;
        width: 100%;        
    }
    .header__nav-description {
        padding-top: 5px;
    }
    .advion__link {
        display: none;
    }
}
@media(max-width:660px) {
    .main__about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    .main__content {
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
    }
    .main__content-right, .main__content-left {
        width: 100%;
        align-items: flex-start;
    }
    .maps {       
        width: 100%;
        margin: 0 auto;
    }
    .advion__photo {
        max-width: 350px;
        width: 100%;
    }
    .main__about-contact {
        max-width: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
   
    .main__content-about-gel, .price-today, .ordernow, .order-today {
        font-size: 19px;
        line-height: 20px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

}